@font-face {
  font-family: "an_unfortunate_eventregular";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/fonts/anune___-webfont.eot?#iefix') format('embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/anune___-webfont.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/anune___-webfont.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/anune___-webfont.svg#an_unfortunate_eventregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
