@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BlackItalic.svg#Gotham-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Ultra";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Ultra.svg#Gotham-Ultra") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Thin.svg#Gotham-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Ultra";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-LightItalic.svg#Gotham-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.eot"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.woff2") format("woff2"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.woff") format("woff"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.ttf") format("truetype"),
    url("/wp-content/themes/temamusicales/resources/assets/fonts/Gotham-XLight.svg#Gotham-XLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
