.template-elencoslide {
  h3.nomPersonaje {
    text-transform: uppercase;
    text-align: center;
  }

  .actorGrid {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .titNomActor {
      text-align: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      bottom: 0;
      width: 100%;
      padding: 3% 0;
      font-size: 0.8rem;
    }

    img {
      filter: grayscale(100%);
    }
  }

  .persoPrinActor {
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 5px;
    line-height: 1.2;
  }

  .persoSegundoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .persoTerceroActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .persoCuartoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .fondoPersonajes {
    background-color: $principal;
    color: $negro;
    padding: 5px 5px;
  }

  .persoQuintoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .contCurriculo {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    align-content: center;
    align-items: center;
    align-self: center;
    z-index: 99999;

    .nombreActor {
      padding: 0;
      margin: 1% 0;
    }

    .cvActor {
      padding: 0;
    }

    .btnCerrar {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      background-color: red;
      padding: 1%;
    }
  }

  .puestoBanda {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .nomBanda {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $blanco;
  }

  .puestoBandaSup {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
  }

  .nomBandaSup {
    font-size: 1rem;
    text-transform: uppercase;
    color: $blanco;
  }

  .glideDestacados {
    opacity: 0;
  }

  .glide__arrow {
    border: none;
  }

  .glide__arrows {
    display: block;
  }

  .glide__slides {
    padding: 2% 0;

    .glide__slide--active {
      transform: scale(1.1);
      transition-duration: 500ms;
      pointer-events: all;

      .actorGrid {
        img {
          filter: none;
          transition-duration: 1s;
        }
      }
    }
  }

  .flechaInt {
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 0;
    height: 0;
    z-index: 2;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $blanco;
    transition: border-bottom-width 0.25s ease-in-out;
    -webkit-transition: border-bottom-width 0.25s ease-in-out;
  }

  .flechaExt {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #969697;
    transition: border-bottom-width 0.25s ease-in-out;
    -webkit-transition: border-bottom-width 0.25s ease-in-out;
  }

  .contFlechas {
    position: absolute;
    left: 50%;
    top: 1px;
  }

  @media (max-width: 768px) {
    .glide__slides {
      padding: 4% 0;
    }

    .glideDestacados {
      width: 75% !important;
    }

    .glide__arrows {
      display: block;

      img {
        height: 50px;
      }
    }
  }
}
