.template-elencolista {
  .wrap {
    background-image: url("/wp-content/themes/temamusicales/dist/images/elenco/mosaico.png");
    background-repeat: repeat;
  }

  h3.nomPersonaje {
    text-align: center;
    text-transform: uppercase;
    color: $terciario;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "an_unfortunate_eventregular", sans-serif;
  }

  .titNomActor {
    text-align: center;
    //position: absolute;
    //background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    padding: 5px 0 0;
    text-transform: uppercase;

    .tipoAlternante {
      color: $principal;
      text-transform: capitalize;
    }
  }

  .actorGrid {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    img {
      filter: blur(5px) grayscale(1);
    }

    .linkActor {
      position: absolute;
      z-index: 999999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .persoPrinActor {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 5px;
    line-height: 1.2;
  }

  .persoSegundoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .persoTerceroActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .persoCuartoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .fondoPersonajes {
    color: $principal;
    padding: 5px 5px;
  }

  .persoQuintoActor {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1;
  }

  .contCurriculo {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    display: none;
    align-content: center;
    align-items: center;
    align-self: center;
    z-index: 99999;

    .contActorInt {
      border: 1px solid $terciario;
    }

    .container {
      max-width: 900px;
    }

    .nombreActor {
      padding: 4% 4% 0 4%;
    }

    .cvActor {
      padding: 4%;
    }

    .btnCerrar {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      background-color: $terciario;
      padding: 1%;
    }
  }

  .mostrarCapa {
    display: flex;
  }
}
