.template-entradas {
  hr.lineaSeparacion {
    margin: 1rem 0;
    color: inherit;
    background-color: transparent;
    border: 0;
    opacity: 1;
    border-bottom: $principal dashed 3px;
  }

  #contHeaderEspecial {
    .contParaVideo {
      align-content: center;
      align-items: center;
      align-self: center;
    }

    .introBoton {
      font-size: 1.6rem;
      margin: 10px;
    }

    .imagenHeaderEspecial {
      width: 100%;
      max-width: 320px;
    }
  }

  #secSuperiorEntradas {
    h1.textoEncabezadoSuperior {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  #secVentajas {
    .tituloVentajas {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5rem;
    }

    .subTitular {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 1.75rem;
      font-weight: bold;
    }

    .imagenVentajaIcono {
      width: 100%;
      max-width: 150px;
      margin-bottom: 15px;
    }

    .parrafVentajaTxt {
      text-align: center;
      font-size: 1rem;
    }

    .textoInfVentajas {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  #entradasPrecios {
    .btnRecordatorio {
      padding: 5px 20px;
      background-color: $principal;
      border-radius: 50px;
      text-transform: uppercase;
      color: #1b1a3f;
      font-size: 2rem;
      border: solid 1px $secundario;
    }

    .zonaComprar {
      text-align: right;
    }
  }

  #secGrupo {
    padding: 5% 0;
    background-size: cover;
    background-position: bottom;
  }

  #informaUtil {
    .mititulo {
      font-weight: bold;
    }

    .tituloSeccionInt {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .cuadroFondo {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: bottom;
  }

  .textoIntroBoton {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 80%;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    text-transform: uppercase;
  }

  h3.tituloSeccion {
    text-transform: uppercase;
    font-weight: bold;
  }

  .tipoVentas {
    background-color: $negro;
  }

  .btn-blanco {
    text-transform: uppercase;
    width: fit-content;
    font-weight: bold;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 0.375rem 1rem;
  }

  .infoUtil {
    background-color: #262626;

    p {
      text-align: center;
    }

    h3.tituloSeccion {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
    }

    .fa,
    .far,
    .fas {
      margin: 2% 0;
      float: left;
    }

    .btn-blanco {
      text-transform: uppercase;
      width: fit-content;
      font-weight: bold;
      border-radius: 50px;
      font-size: 0.8rem;
      padding: 0.375rem 1rem;
      background-color: $secundario;
      color: $blanco;
    }
  }

  @media (max-width: 762px) {
    .accordion-button {
      font-size: 0.75rem;
    }

    h2.textoSuperior {
      font-size: 1.2rem;
    }

    #entradasPrecios {
      .zonaComprar {
        text-align: center;
      }
    }
  }

  #seccionEspecial {
    background-color: $blanco;
    color: $negro;
  }

  .tituloCompraSeguridad {
    font-weight: bold;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 1.8rem;
    color: $terciario;
  }

  .subTitulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .tituloLista {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  ul.listaSeguridad {
    width: 90%;
    margin: 10px auto;
  }

  a.btnComprarEspecial {
    font-weight: bold;
    font-size: 1.6rem;
    width: 85%;
    display: block;
    text-align: center;
    margin: 2% auto;
    padding: 2%;
    background-color: $principal;
    color: $secundario;
    border: solid 1px $secundario;
    border-radius: 50px;
  }

  a.linkTarjetaSeguridad {
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .contseguridad {
    align-self: center;
  }

  @media (max-width: 1395px) {
    .tituloCompraSeguridad {
      font-size: 1.57rem;
    }

    .subTitulo {
      font-size: 1.04rem;
    }

    .tituloLista {
      font-size: 1.04rem;
    }
  }

  @media (max-width: 1200px) {
    .tituloCompraSeguridad {
      font-size: 1.29rem;
    }

    .subTitulo {
      font-size: 0.85rem;
    }

    .tituloLista {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 1200px) {
    .tituloCompraSeguridad {
      font-size: 1.29rem;
    }

    .subTitulo {
      font-size: 0.85rem;
    }

    .tituloLista {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 768px) {
    .tituloCompraSeguridad {
      font-size: 1.8rem;
    }

    .subTitulo {
      font-size: 1.2rem;
    }

    .tituloLista {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 500px) {
    .tituloCompraSeguridad {
      font-size: 1.29rem;
    }

    .subTitulo {
      font-size: 0.85rem;
    }

    .tituloLista {
      font-size: 0.85rem;
    }
  }

  @media (min-width: 1070px) {
    .tituloCompraSeguridad {
      white-space: nowrap;
    }

    .subTitulo {
      white-space: nowrap;
    }

    .tituloLista {
      white-space: nowrap;
    }
  }
}
