.template-equipocreativo {
  .puestoEquipo {
    font-size: 1rem;
    text-transform: uppercase;
    color: #95d6f1;
  }

  .nombreEquipo {
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}
