.template-FAQ {
  .accordion-button {
    padding: 0 0 0 1.25rem;
    overflow: hidden;

    &::after {
      flex-shrink: 0;
      width: 46px;
      height: 46px;
      margin-left: auto;
      content: "+";
      background-repeat: no-repeat;
      background-size: 40px;
      transition: transform 0.2s ease-in-out;
      background-color: transparent;
      background-image: none;
      font-size: 40px;
      text-align: center;
      color: #1b1a3f;
    }

    &:not(.collapsed) {
      color: $principal;
      background-color: #1b1a3f;

      &::after {
        flex-shrink: 0;
        width: 46px;
        height: 46px;
        margin-left: auto;
        content: "+";
        background-repeat: no-repeat;
        background-size: 40px;
        transition: transform 0.2s ease-in-out;
        background-color: transparent;
        background-image: none;
        font-size: 40px;
        text-align: center;
        color: #91d1f5;
      }
    }
  }

  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $principal;
    color: $principal;
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $principal;
    color: #1b1a3f;
  }

  .accordion-header {
    margin-bottom: 2px;
  }

  .accordion-item {
    background-color: black;
  }

  @media (max-width: 762px) {
    .accordion-button {
      font-size: 0.75rem;
    }
  }
}
