footer {
  border-top: #95d6f1 solid 3px;

  h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
  }

  form#sib_signup_form_1 {
    .sib-default-btn {
      margin: 5px 0;
      padding: 6px 12px;
      color: #1b1a3f;
      background-color: $principal;
      border-color: $principal;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4285;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: normal;
      border: 1px solid transparent;
      border-radius: 3px;
      text-transform: uppercase;
    }
  }

  .gform_wrapper {
    .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit] {
      background-color: #fff;
      color: black;
      border: none;
      padding: 1% 3%;
      text-transform: uppercase;
      font-weight: bold;
    }

    input.large {
      background-color: rgba(256, 256, 256, 0.6) !important;
      border: 0;
      border-radius: 0;
    }
  }

  .divBottom {
    text-align: center;
  }

  @media (max-width: 768px) {
    .rightFooter {
      img {
        width: 70%;
        max-width: 140px;
      }
    }

    .divBottom {
      img {
        width: 70%;
        max-width: 100px;
      }
    }
  }

  ul#menu-menu-legales {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 15px;
    }
  }
}
