.home {
  header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .videoHome {
    width: 100%;
    position: relative;
    // padding-bottom: 56.25%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;

    video,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      background-size: cover;
      opacity: 1;
      display: block;
    }

    #mute-video {
      display: none;
    }

    #quitar-mute {
      display: block;
    }

    #remutear {
      display: none;
    }
  }

  .sliderHome {
    .tituloCompraSeguridad {
      font-weight: bold;
      margin: 10px 0 0 0;
      text-align: center;
      font-size: 1.8rem;
      color: #91d1f5;
    }

    .subTitulo {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .tituloLista {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    ul.listaSeguridad {
      margin-top: 10px;
    }

    .contseguridad {
      align-self: center;
    }

    a.linkTarjetaSeguridad {
      margin-top: 15px;
      margin-bottom: 20px;
      display: block;
      width: 100%;
      text-align: center;
    }

    @media (max-width: 1395px) {
      .tituloCompraSeguridad {
        font-size: 1.57rem;
      }

      .subTitulo {
        font-size: 1.04rem;
      }

      .tituloLista {
        font-size: 1.04rem;
      }
    }

    @media (max-width: 1200px) {
      .tituloCompraSeguridad {
        font-size: 1.29rem;
      }

      .subTitulo {
        font-size: 0.85rem;
      }

      .tituloLista {
        font-size: 0.85rem;
      }
    }

    @media (max-width: 768px) {
      .tituloCompraSeguridad {
        font-size: 1.8rem;
      }

      .subTitulo {
        font-size: 1.2rem;
      }

      .tituloLista {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 500px) {
      .tituloCompraSeguridad {
        font-size: 1.29rem;
      }

      .subTitulo {
        font-size: 0.85rem;
      }

      .tituloLista {
        font-size: 0.85rem;
      }
    }

    @media (min-width: 1070px) {
      .tituloCompraSeguridad {
        white-space: nowrap;
      }

      .subTitulo {
        white-space: nowrap;
      }

      .tituloLista {
        white-space: nowrap;
      }
    }
  }

  #contPremios {
    .listPremio {
      background-repeat: no-repeat;
      background-position: center;
      align-self: center;

      .nomPremio {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    .textInferior {
      margin-top: 4rem;
      text-align: center;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 2rem;
      color: #91d1f5;
    }
  }

  #secVentajas {
    background-color: $blanco;
    color: $secundario;

    .tituloVentajas {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5rem;
    }

    .subTitular {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 1.75rem;
      font-weight: bold;
    }

    .imagenVentajaIcono {
      width: 100%;
      max-width: 150px;
      margin-bottom: 15px;
    }

    .parrafVentajaTxt {
      text-align: center;
      font-size: 1rem;
    }

    .textoInfVentajas {
      text-align: center;
      font-size: 0.8rem;
    }

    .txtRecordatorio {
      text-transform: uppercase;
      font-size: 1.6rem;
      color: $principal;
      text-align: center;
    }

    .enlaceBtn {
      text-align: center;
      margin-top: 20px;

      .btnRecordatorio {
        padding: 5px 20px;
        background-color: $principal;
        border-radius: 50px;
        text-transform: uppercase;
        color: #1b1a3f;
        font-size: 2rem;
        border: solid 1px $secundario;
      }
    }
  }

  #recordEntradas {
    .imgSinopsis {
      width: 100%;
    }
  }

  #sinopsis {
    .tituloSeccion {
      color: $principal;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin: 0 0 2%;
    }

    .contSinopsis {
      padding: 0 0 0 0;
      position: relative;
      background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;

      .txtSinopsis {
        font-size: 1.2rem;
        color: $principal;
      }
    }

    .contLibros {
      padding: 0 0 38% 0;
      position: relative;
      background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;

      .librosVoladores {
        position: absolute;
        z-index: 9;
      }

      #libro1 {
        width: 20%;
        bottom: 4%;
        left: 38%;
      }

      #libro2 {
        right: 47%;
        width: 15%;
        bottom: 59%;
      }

      #libro3 {
        width: 12%;
        right: 4%;
        bottom: 45%;
      }

      #libro4 {
        bottom: 38%;
        right: 36%;
        width: 15%;
      }

      #libro5 {
        right: 4%;
        bottom: 15%;
        width: 12%;
      }

      #libro6 {
        width: 15%;
        left: 9%;
        bottom: 17%;
      }

      #libro7 {
        width: 15%;
        bottom: 28%;
        right: 19%;
      }

      #libro8 {
        width: 15%;
        left: 19%;
        bottom: 45%;
      }
    }
  }

  #contAyuda {
    background-color: $principal;

    a {
      color: $secundario;
    }

    .conTextoAyuda {
      color: #1b1a3f;
      align-self: center;

      h4.titAyuda {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 992px) {
    #sinopsis {
      padding-top: 3rem;

      .tituloSeccion {
        font-size: 2.5rem;
      }

      .contSinopsis {
        .txtSinopsis {
          font-size: 1.1rem;
          color: $principal;
        }
      }
    }
  }

  @media (max-width: 768px) {
    header {
      position: relative;
      z-index: 1000;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .menu-fixed {
      position: fixed !important;
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.8);
    }

    .videoHome {
      height: auto;
      width: 100%;

      video {
        width: 100%;
        height: auto;
        object-fit: fill;
        z-index: 0;
        background-size: cover;
        opacity: 1;
        display: block;
      }
    }

    #sinopsis {
      .tituloSeccion {
        font-size: 2.1rem;
      }

      .contSinopsis {
        .txtSinopsis {
          font-size: 1rem;
          color: $principal;
        }
      }
    }
  }
}
