.template-grupos {
  background-color: $negro;

  .wrap {
    background-image: url(/wp-content/themes/temamusicales/dist/images/fonmdoGrupos.jpg);
    background-size: cover;
    background-position: bottom;
  }
}
