@-webkit-keyframes destello-efecto-01 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }
}

@keyframes destello-efecto-01 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }
}

header {
  .brand {
    margin: 0 2%;

    .logoHeader {
      max-width: 125px;
    }
  }

  .btnEntradas {
    float: right;

    .logoEntradas {
      max-width: 130px;
    }
  }

  .navbar-expand-md {
    justify-content: space-between;
  }

  .navbar-nav {
    text-transform: uppercase;
    right: 15px;
    display: flex;
    justify-content: space-around;
    width: 50%;

    a.nav-link {
      color: $principal;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .dropdown-menu {
    background-color: $negro;
    border: 1px solid $principal;
    border-radius: 0;

    .dropdown-item {
      color: $principal;

      &:focus {
        background-color: $negro;
        color: $blanco;
      }

      &:hover {
        background-color: $negro;
        color: $blanco;
      }
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    z-index: 9999;
    background-color: $negro;

    .navbar-nav {
      display: none;
    }

    .btnEntradas {
      margin-right: 50px;

      .logoEntradas {
        max-width: 110px;
      }
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 99999;
  right: 2%;
  top: 23px;
  display: none;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
}

.menuMovil {
  position: fixed;
  display: flex;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  padding: 75px 1%;
  justify-content: center;
  align-items: center;

  .navbar-nav {
    a {
      font-size: 1rem;
      text-transform: uppercase;
      color: $principal;
      font-weight: bold;
    }

    a.dropdown-item {
      color: $principal;
    }
  }
}

@media (max-width: 768px) {
  header {
    .brand {
      margin: 0 1%;

      .logoHeader {
        max-width: 110px;
      }
    }
  }

  .hamburger {
    display: block;
    top: 10px;
  }
}
