.template-opiniones {
  .formOpiniones {
    background: rgb(57, 57, 57);
    background: linear-gradient(0deg, rgba(57, 57, 57, 1) 2%, rgba(57, 57, 57, 0.6488970588235294) 46%, rgba(255, 255, 255, 0) 100%);

    .gform_wrapper {
      input,
      select,
      optgroup,
      textarea {
        border: none;
        background-color: transparent;
        border-bottom: solid 2px $principal;
      }

      .button {
        margin: 5px 0;
        padding: 6px 12px;
        color: #fff;
        background-color: $principal;
        border-color: #2e2e2e;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4285;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: normal;
        border: 1px solid transparent;
        border-radius: 3px;
      }
    }
  }

  .opinionesHomeDark {
    background-image: url(/wp-content/themes/temamusicales/dist/images/fonmdoGrupos.jpg);
    background-size: cover;
    background-position: bottom;
  }

  .glide__slides {
    margin-bottom: 70px;

    &:hover {
      cursor: default;
    }

    .fa,
    .far,
    .fas {
      margin: 0 0;
    }

    .glide__arrow {
      background-color: rgba(0, 0, 0, 0.3);
      top: 90%;
    }

    .glide__bullets {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      display: inline-flex;
      list-style: none;
      transform: translateX(-50%);
    }

    .glide__bullet {
      background-color: white;
    }

    .glide__bullet--active {
      border: solid 1px #f1f1f1;
    }

    .titulOpinion {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 7px;
    }

    .fechaOpininio {
      font-size: 0.85rem;
      margin-bottom: 20px;
      color: #858686;
    }

    p.parrafOpinion {
      font-size: 0.9rem;
      line-height: 1rem;
      margin-bottom: 20px !important;
      overflow-wrap: break-word;

      .fa-quote-left {
        margin-right: 10px;
        color: #c4c4c4;
      }

      .fa-quote-right {
        margin-left: 10px;
        color: #c4c4c4;
      }
    }

    .footerOpinion {
      font-size: 0.85rem;
      color: #858686;

      .foterColorDos {
        color: #c4c4c4;
      }
    }
  }
}
