.template-programa {
  .paraMovil {
    padding-bottom: 10%;
    align-content: flex-end;
    height: calc(100vh - 150px);
    background-size: cover;
    background-position: bottom center;
  }

  .paradesktop {
    align-content: center;
    height: 100%;
  }

  .btn-primary {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
  }

  @media (max-width: 980px) {
    .btnEntradas {
      display: none;
    }

    .banner {
      height: 65px;
    }
  }
}
