.template-teatro {
  .titMedioTransporte {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .contMedioTransporte {
    p {
      margin: 0.2rem 0;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  h4 {
    font-weight: bold;
  }
}
