html,
body {
  background-color: black;
  color: #fff;
  font-family: "Gotham", sans-serif;
}

.btnComprarEntradas {
  background-color: $principal;
  color: $blanco;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 2% 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: $blanco;
    color: $principal;
  }
}

.btnAzul {
  background-color: $principal;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1% 2%;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: $secundario;

  &:hover {
    background-color: $secundario;
    color: $principal;
    border: 0.01rem solid $blanco;
  }
}

.page-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3%;

  h1 {
    font-size: 3rem;
  }
}

a {
  color: $principal;
  text-decoration: none;
}

.fa,
.far,
.fas {
  margin: 6% 0;
}

#CybotCookiebotDialog {
  opacity: 0 !important;
}

#CybotCookiebotDialog.showing {
  opacity: 1 !important;
}

#CybotCookiebotDialogBodyButtonAccept {
  display: none !important;
}

.btnSantaCookieBot {
  background-color: #ff9d00;
  border: 1px solid #ff9d00;
  color: #fff !important;
  padding: 6px !important;
  text-decoration: none !important;
  border-radius: 4px;
}

#CybotCookiebotDialogDetail {
  height: 280px;
}

#CookiebotNuevoBtnAllSelect {
  margin-left: 6px !important;
}

@media (max-width: 767.98px) {
  #CookiebotNuevoBtnAllSelect {
    margin-left: 0 !important;
    font-size: 12px;
    width: 160px !important;
  }
}

#CookiebotNuevoBtnGuardar {
  margin-left: 6px !important;
  width: 150px !important;
}

#CybotCookiebotDialogBody {
  max-width: 1100px !important;
}

#CybotCookiebotDialogDetailBody {
  max-width: 1100px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  padding-top: 10px;
}

#CybotCookiebotDialogDetailBodyContent {
  border-bottom: 2px solid #ccc !important;
  height: 190px !important;
  margin: 0 7px;
}

#CybotCookiebotDialogDetailBodyContentTabs {
  padding: 0 7px;
}
